/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
	
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	
}
 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.focus-section div[class^=col-]:nth-child(2) .single-focus:after {
		width: 0;
	}
	.focus-photos {
		margin: 0 100px 20px;
	}
	.about-us-content {
		margin-bottom: 60px;
	}
	.video-area {
		margin-bottom: 30px;
	}
	.photo-content {
		margin-bottom: 60px;
	}
	.single-counter {
		margin: 30px 0;
	}
	.single-doctor {
		margin: 20px 0;
	}
	.footer-top div[class^=col-]:last-child .footer-widget {
		margin-bottom: 0;
	}
	.footer-widget {
		margin-bottom: 80px;
	}
	.footer-widget.quick-links {
		padding-left: 0;
	}






	/*about-us page*/
	.breadcumb-title h2:after {
		display: none;
	}
	.about-us-page-wrap .video-area {
	    margin-bottom: 60px;
	}





	/*service-details page*/
	.service-details-image-wrap {
		margin-bottom: 70px;
	}

	/*doctor-details page*/
	.doctor-details-content-left {
		margin-bottom: 70px;
	}
	.doctor-details-content-right {
		padding-left: 0;
	}
	.doctor-details-content-right div[class^=col-]:first-child .doctor-progress-wrap {
		margin-bottom: 70px;
	}
	.expertise-area {
		margin-bottom: 70px;
	}













	/*article details*/
	.article-details {
		margin-bottom: 80px;
	}
	.article-comment-form {
	    margin-bottom: 60px;
	}

}
 
/* small mobile :320px. */
@media (max-width: 767px) {
	.ht-contact {
	    text-align: center;
	    padding: 5px 0;
	}
	.slide-content {
		font-size: 16px;
		font-weight: 400;
	}
	.slide-content h5 {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.slide-content h2 {
		font-size: 30px;
		margin-bottom: 15px;
	}
	.slide-content .slide-btn {
		min-width: auto;
		margin-bottom: 5px;
		padding: 8px 15px;
	}


	.focus-section {
		margin: 0 0 0;
		border-radius: 0;
	}
	.focus-section .single-focus:after {
		width: 0;
	}
	.focus-photos {
	    padding: 30px 10px 30px 0;
	}




	


	.about-us-section .nav-tabs {
		border-bottom: 0;
	}
	.about-us-section .nav-tabs .nav-link {
		margin-bottom: 15px;
		margin-right: 15px;
		border-radius: 0;
	}
	.about-us-content {
		margin-bottom: 60px;
	}
	.video-area {
		margin-bottom: 60px;
	}
	.play-btn {
		font-size: 21px;
	}
	.photo-content {
		margin-bottom: 60px;
	}
	.single-counter {
		margin: 30px 0;
	}
	.appoinment-phone span {
		font-size: 35px;
	}
	.single-doctor {
		margin: 15px 0;
	}
	.footer-widget {
		margin-bottom: 60px;
	}
	.footer-top div[class^=col-]:last-child .footer-widget {
		margin-bottom: 0;
	}
	.footer-widget.quick-links {
		padding-left: 0;
	}
	.footer-bottom p {
		font-size: 16px;
	}







	

	/*about-us page*/
	.breadcumb-title h2 {
		font-size: 32px;
	}
	.breadcumb-title h2:after {
		display: none;
	}

	.about-us-page-wrap .video-area {
	    margin-bottom: 60px;
	}
	.faq-accordion .card-body p {
		padding: 10px 15px;
	}
	.faq-accordion .card-header button {
		padding: 15px 30px 30px 40px;
		text-align: left;
	}
	.faq-accordion .card-header button::before {
		top: 20px;
	}



	/*service-details page*/
	.service-details-image-wrap {
		margin-bottom: 60px;
	}

	/*article details*/
	.article-details {
		margin-bottom: 80px;
	}

	.article-share-wrap {
		text-align: left;
		margin-top: 30px;
	}
	.go-to-prev-home-next a {
		font-size: 22px;
	}

	.comments-author-image {
		position: static;
		transform: none;
		margin-bottom: 20px;
	}
	.comments li {
		padding-left: 0;
	}
	.replied-comments {
		margin-left: 30px;
	}
	.article-comment-form {
	    margin-bottom: 60px;
	}


	/*doctor-details page*/
	.doctor-details-content-left {
		margin-bottom: 70px;
	}
	.doctor-details-content-right {
		padding-left: 0;
	}
	.doctor-details-content-right div[class^=col-]:first-child .doctor-progress-wrap {
		margin-bottom: 70px;
	}
	.expertise-area {
		margin-bottom: 70px;
	}

	/*contact page*/
	.contact-form-wrap {
		margin: 0 10px;
		margin-top: -10px;
	}




	



	
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {width:450px} 
}