/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
	
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.slide-content h1 {
		font-size: 48px;
	}
	.slide-content p {
		font-size: 17px;
	}
	.about-us-author-image {
		display: none;
	}	
	.constrau-bs-tab .process-tabs .nav a {
		padding: 25px 35px;
	}
	.constrau-bs-tab .tab-pane-content p {
		padding-bottom: 0;
		border-bottom: none;
	}
	.constrau-bs-tab .tab-pane-content::after {
		display: none;
	}
	.footer-top {
		padding-bottom: 0;
	}
	.footer-widget {
		margin-bottom: 90px;
	}
}

/* small mobile :320px. */
@media (max-width: 767px) {
	.boxed-btn {
		padding: 14px 20px;
		margin-bottom: 15px;
	}
	.header-top-cta	{
		display: none;
	}
	.slide-content {
		padding: 0 0;
	}
	.slider-active .owl-nav div {
		display: none;
	}
	.slide-content h1 {
		font-size: 30px;
	}


	.section-title h4 {
		font-size: 20px;
	}
	.section-title h2 {
		font-size: 30px;
	}
	.about-us-author-image {
		display: none;
	}
	.constrau-bs-tab {
		padding-top: 100px;
	}
	.constrau-bs-tab .process-tabs .nav li a {
		padding: 10px 15px;
		border-left: 0;
	}
	.constrau-bs-tab .process-tabs .nav li:last-child a {
		border-right: 0;
	}
	.constrau-bs-tab .tab-pane-content {
		padding-left: 0;
		padding-top: 0;
	}
	.tab-pane-content span {
		display: none;
	}

	.constrau-bs-tab .tab-pane-content p {
		padding-bottom: 0;
		margin-bottom: 30px;
		border-bottom: 0;
	}
	.constrau-bs-tab::after {
		display: none;
	}
	.constrau-bs-tab .tab-pane-content::after {
		display: none;
	}
	.single-partner-logo {
		width: 50%;
		border-right: 0;
		margin: 15px 0;
	}
	
	.work-carousel .owl-nav {
		display: none;
	}
	.blog-carousel .owl-nav {
		display: none;
	}
	.testimonial-carousel .owl-nav {
		display: none;
	}
	.testimonial-content {
		padding: 160px 30px 40px;
	}
	.footer-top {
		padding-bottom: 0;
	}
	.footer-widget {
		margin-bottom: 90px;
	}
	.constrau-bs-tab .nav.nav-pills {
		margin-bottom: 30px;
	}
}

/* Large Mobile :480px. */
@media only screen and (min-width: 550px) and (max-width: 767px) {
	
}