/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
	.container {
		max-width: 1170px;
	}	
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.logo a img {
		max-height: 35px;
	}
	.slide-content h2 {
		font-size: 32px;
	}
	div[class^="col-"]:nth-child(2) .single-focus-item::after {
	    width: 0;
	}
	.about-us-content {
		margin-bottom: 75px;
		padding-right: 0;
	}
	.matx-accordion .accordion {
    	padding-bottom: 325px;
	}
	.matx-accordion .accordion:after {
		top: auto;
		bottom: 0;
		height: 325px;
		width: 100%;
	}
	.matx-accordion .card {
		max-width: 100%;
	}
	.matx-accordion .collapse.show:after {
		top: auto;
		bottom: 0;
		height: 325px;
		width: 100%;
	}
	.matx-tab-content {
		margin-bottom: 30px;
	}
	.newsletter-form input {
		width: 325px;
	}
	.contact-medium li span {
		margin-right: 15px;
	}
}

/* small mobile :320px. */
@media (max-width: 767px) {
	.logo a img {
		max-height: 35px;
	}
	.single-slide {
		height: 560px;
	}
	.slide-content h2 {
		font-size: 28px;
	}
	.slide-btn-area .matx-btn {
		padding: 14px 19px;
	}

	.single-focus-item::after {
		width: 0;
	}
	.about-us-content {
		margin-bottom: 75px;
		padding-right: 0;
	}
	.matx-accordion .accordion {
    	padding-bottom: 280px;
	}
	.matx-accordion .accordion:after {
		top: auto;
		bottom: 0;
		height: 280px;
		width: 100%;
	}
	.matx-accordion .card {
		max-width: 100%;
	}
	.matx-accordion .collapse.show:after {
		top: auto;
		bottom: 0;
		height: 280px;
		width: 100%;
	}


	.matx-tab .nav-link {
		width: 57px;
		height: 57px;
		line-height: 57px;
		font-size: 20px;
	}
	.matx-tab-content {
		margin-bottom: 30px;
	}

	.video-area h3 {
		font-size: 20px;
	}

	.video-play-btn {
		width: 35px;
		height: 35px;
		line-height: 35px;
		font-size: 20px;
	}
	.video-play-btn i.zmdi {
    	padding-left: 3px;
	}

	.single-counter {
		margin: 25px 0;
	}

	
	.newsletter-content {
		text-align: center;
	}
	.newsletter-content h3,
	.newsletter-content form, 
	.newsletter-content input {
		width: 100%;
		float: none;
		display: block;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
		margin: 15px auto;
	}
	.newsletter-content .matx-btn {
		margin-top: 15px;
	}
	
	.contact-area::after {
		display: none;
	}

	.contact-info {
		margin-bottom: 30px;
	}
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.button-group button {
		margin-right: 0;
	}	
	.matx-tab .nav-link {
		width: 88px;
		height: 75px;
		line-height: 75px;
		font-size: 26px;
	}
}