/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
	
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	
}
 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.counter-area {
		height: 480px;
	}
	.counter-area .area-title-big {
    	margin-bottom: 50px;
    	text-align: center;
	}
	.cta-area {
		text-align: center;
	}
	.cta-area .text-right {
		text-align: center !important;
	}
	.cta-area .row {
		height: 350px;
	}
	.footer-widget {
		margin: 50px 0;
	}
}
 
/* small mobile :320px. */
@media (max-width: 767px) {
	
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}