/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
	.pricing-content {
		padding-left: 25px;
		padding-right: 25px;
	}
	.single-mentor {
		margin: 15px 0;
	}
	.partner-images div {
    	width: 50%;
    	margin: 15px 0;
	}
	.partner-images div:nth-child(even) {
	    border-left: 1px solid #ddd;
	    border-right: 1px solid #ddd;
	}
	.footer-area {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.footer-contact {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.google-map {
		margin-top: 120px;
	}
	.event-nav .nav-tabs > li > a {
		padding: 5px;
		padding-left: 85px;
	}
	.event-nav .nav-tabs > li > a::after {
		display: none;
	}
	.event-bg {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.article-tags,
	.article-share {
		text-align: center;
		margin: 15px 0;
	}
	.comment-form {
		margin-bottom: 75px;
	}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
	.slide-content h1 {
		font-size: 35px;
	}
	.slide-carousel .owl-nav {
		display: none;
	}
	.slide-content p {
		font-size: 16px;
	}
	.boxed-btn {
		padding: 10px 25px;
		font-size: 13px;
	}
	.section-pdtb-120,
	.section-pdtb-100,
	.section-pdtb-80 {
		padding: 50px 0;
	}
	.section-title {
		margin-bottom: 35px;
	}
	.about-us-content {
		margin-bottom: 30px;
	}
	.about-bg-sm {
		width: 100%;
		margin: 0 0 15px 0;
	}
	.single-pricing {
		margin: 15px 0;
	}
	.cta-area h2 {
		font-size: 25px;
	}
	.cta-area p {
		font-size: 14px;
	}
	.single-mentor {
		margin: 15px 0;
	}
	.footer-area {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.footer-contact {
		margin-top: 50px;
	}
	.single-counter {
	    margin: 30px 0;
	}
	.partner-images div {
    	width: 100%;
	}
	.partner-images div:nth-child(even) {
	    border-left: 1px solid #ddd;
	    border-right: 1px solid #ddd;
	}
	.google-map {
		margin-top: 50px;
		max-height: 350px;
	}
	.about-mentor {
		margin-top: 50px;
	}
	article.blog-post {
		padding: 0;
		border: none;
	}
	.post-img-bg {
		max-height: 250px;
	}
	.article-tags,
	.article-share {
		text-align: center;
		margin: 15px 0;
	}
	.comment-item {
		padding-bottom: 0;
	}
	.comment-form {
		margin-bottom: 50px;
	}
	.event-nav {
		width: 100%;
		margin-right: 0;
	}
	.event-nav {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.event-nav .nav-tabs > li > a {
	    padding: 10px;
	    padding-left: 72px;
	}
	.event-nav .nav-tabs > li > a::after {
		display: none;
	}
	.event-date {
		padding: 0 15px;
	}
	.event-date span {
		font-size: 25px;
	}
	.event-title h4 {
		font-weight: normal;
		font-size: 17px;
	}
	.event-tab {
		display: none;
	}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}