/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
	
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	
}
 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.focus-photos {
		margin: 0 100px 20px;
	}
	.about-us-content {
		margin-bottom: 60px;
	}
	.video-area {
		margin-bottom: 30px;
	}
	.photo-content {
		margin-bottom: 60px;
	}
	.single-counter {
		margin: 30px 0;
	}
	.single-doctor {
		margin: 20px 0;
	}
	.footer-top div[class^=col-]:last-child .footer-widget {
		margin-bottom: 0;
	}
	.footer-widget {
		margin-bottom: 80px;
	}
	.footer-widget.quick-links {
		padding-left: 0;
	}






	/*about-us page*/
	.about-us-page-wrap .video-area {
	    margin-bottom: 60px;
	}















	/*article details*/
	.article-details {
		margin-bottom: 80px;
	}

}
 
/* small mobile :320px. */
@media (max-width: 767px) {
	.ht-contact {
	    text-align: center;
	    padding: 5px 0;
	}
	.slide-content {
		font-size: 16px;
	}
	.slide-content .slide-subtitle {
		font-size: 16px;
	}
	.slide-content .slide-title {
		font-size: 30px;
	}
	.slide-content .slide-btn {
		min-width: auto;
		margin-bottom: 5px;
		padding: 8px 15px;
	}
	.focus-photos {
		margin-right: 10px;
		margin-bottom: 20px;
	}
	.focus-photos-carousel .owl-nav {
		right: 15px;
	}
	.nav-tabs .nav-link {
		margin-bottom: 15px;
	}
	.about-us-content {
		margin-bottom: 60px;
	}
	.video-area {
		margin-bottom: 30px;
	}
	.play-btn {
		font-size: 21px;
	}
	.photo-content {
		margin-bottom: 60px;
	}
	.single-counter {
		margin: 30px 0;
	}
	.appoinment-phone span {
		font-size: 26px;
	}
	.single-doctor {
		margin: 20px 0;
	}
	.footer-top div[class^=col-]:last-child .footer-widget {
		margin-bottom: 0;
	}
	.footer-widget {
		margin-bottom: 80px;
	}
	.footer-widget.quick-links {
		padding-left: 0;
	}







	.breadcumb-title h2 {
		font-size: 32px;
	}

	/*about-us page*/
	.about-us-page-wrap .video-area {
	    margin-bottom: 60px;
	}
	.faq-accordion .card-body p {
		padding: 10px 15px;
	}
	.faq-accordion .card-header button {
		padding: 15px 30px 30px 40px;
		text-align: left;
	}
	.faq-accordion .card-header button::before {
		top: 20px;
	}

	/*article details*/
	.article-details {
		margin-bottom: 80px;
	}

	/*contact page*/
	.contact-form-wrap {
		margin: 0 15px;
		margin-top: -15px;
	}



	
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {width:450px} 
}